@page "/"
    @rendermode InteractiveServer

    <link rel="stylesheet" href="css/home.css">
<PageTitle>Home</PageTitle>


<section class="containerHome">



        
  

    <section class="containerHome">

       
            
      
        <div>
   
<h1>CLICKS: @click</h1>
<h1>NAME: @name</h1>

    <button type="button" @onclick="ChangeName">CHANGE NAME</button> 
</div>

  


  
    <div>

    <button type="button" @onclick="changeCss">INITIALIZE LOOP</button> 

   @for(int x= 0; x<=10; x++) {

<h1 class="h1Loop" style="@value">result: @result * @x</h1>


} 



</div>
 





 

</section>

  </section>





@code {

    private string name ="Aloi";
    private int click = 0;
        private int click2 = 0;
    private int y = 0;

    private string value = "";

    private int result = 2;



    private void changeCss() {
        click2 ++;
        value = "visibility: visible";

        if(click2 == 2) {
            click2 = 0;
        value = "visibility: hidden";
        }

    }

    
    private void ChangeName() {
        click ++;
        name = "Franzie";

        if(click == 1) {
          
            name ="Franzie";

        } else if(click == 2) {
            click = 0;
            name ="Aloi";

        }
    }

}
